@media (max-width: 1300px) {
  .product {
    .product__content {
      margin-top: 0;
    }

    .product__content-title {
      position: relative;
      font-size: 30px;
      white-space: normal;
      top: 0;
    }
  }
}

@media (max-width: 1150px) {

  .new-collection {
    .new-collection__inner {
      padding: 90px 0;
    }

    .new-collection__content {
      padding: 50px 0 0;
    }

    .new-collection__btn {
      margin-top: auto;
    }

    .new-collection__box-img {
      img {
        min-width: 270px;
        height: 380px;
      }
    }

    .new-collection__box-text {
      max-width: 200px;
      padding-left: 0;
    }
  }

  .home-reviews {
    .home-reviews__box-link {
      margin-top: 20px;
    }
  }

  .our-blog {
    .our-blog__inner {
      grid-template-columns: 1fr 1fr 1.5fr;
    }
  }

  .appointment {
    .appointment__content {
      gap: 20px;
    }
  }

  .blog-main {
    .blog-main__inner img {
      max-width: 100%;
    }

    .blog-main__content {
      gap: 20px;
    }

    .blog-main__title {
      font-size: 30px;
    }

    .blog-main__text {
      font-size: 20px;
    }

    .blog-main__link {
      font-size: 20px;
      padding: 20px;
    }
  }

  .blog {
    .blog__nav-btns {
      margin-left: 30px;
    }

    .blog__search-form {
      width: 200px;
    }

    .select {
      width: 200px;
    }

    .blog__nav {
      gap: 20px;
    }

    .blog__nav-title {
      font-size: 24px;
    }

    .blog__nav-btns {
      gap: 10px;
    }
  }

  .checkout {
    .checkout__content {
      flex-direction: column;
    }

    .checkout__details {
      order: 0;
    }

    .checkout__info {
      order: 1;
    }
  }

  .page-404 {
    .page-404__title {
      font-size: 130px;
    }

    .page-404__link span {
      font-size: 30px;
    }
  }

  .product {
    .product__images img {
      max-width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1020px) {
  .container {
    max-width: 1020px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .container-big {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .main {
    .top {
      height: 60vh;

      .top__content {
        height: 60vh;
        max-width: 400px;
      }

      .top__title {
        font-size: 55px;
      }

    }

    .home-reviews {
      padding: 90px 40px 65px;
    }

    .our-blog {
      padding: 70px 0 50px;
    }

    .appointment {
      padding: 0 0 100px;
    }
  }

  .footer {
    .footer__elements {
      flex-wrap: wrap;
      padding: 20px 0 20px;
    }

    .footer__element--social {
      order: 1;
      width: 100%;
    }

    .footer__element-title {
      display: none
    }

    .footer__social-list {
      margin-right: 30px;
      margin-left: auto;
    }

    .footer__element-social {
      display: flex;
      margin: 0;
    }

    .footer__menu-list {
      padding: 60px 0 30px;
    }
  }

  .header {
    .header__logo {
      margin-bottom: 20px;
    }

    .menu__list {
      gap: 15px;
    }

    .header__actions {
      gap: 10px;
    }

    .header__lang {
      margin-right: 55px;
    }
  }

  .new-collection {
    .new-collection__img {
      margin-top: 50px;

      img {
        height: 100%;
        min-width: 200px;
      }
    }

    .new-collection__box-img {
      right: 120px;

      img {
        min-width: 200px;
        height: 300px;
      }
    }

    .new-collection__box-text {
      font-size: 16px;
      margin-bottom: 50px;
    }
  }

  .join-us {
    .join-us__inner {
      gap: 25px;
    }
  }

  .home-reviews {
    .home-reviews__box-link {
      display: flex;
      justify-content: center;
    }

    .home-reviews__box {
      max-width: 370px;
    }
  }

  .our-advantages {
    .our-advantages__img {
      max-width: 270px;
    }

    .our-advantages__content {
      padding: 30px 0 30px;
    }

    .our-advantages__title {
      font-size: 30px;
    }

    .our-advantages__list {
      gap: 20px;
    }

    .our-advantages__item {
      font-size: 16px;
    }
  }

  .our-blog {
    .our-blog__inner {
      grid-template-columns: 1fr 1fr 1.9fr;
    }
  }

  .appointment {
    .appointment__content-box {
      max-width: 400px;
    }

    .appointment__content-img {
      min-height: 580px;
      object-fit: cover;
    }
  }

  .rewiews {
    .rewiews__top-title {
      font-size: 60px;
    }
  }

  .blog-main {
    .blog-main__inner img {
      max-width: 100%;
    }

    .blog-main__content {
      max-width: 540px;
    }

    .blog-main__title {
      font-size: 24px;
    }

    .blog-main__text {
      font-size: 16px;
    }
  }

  .blog-one {
    .blog-one__content h1 {
      font-size: 65px;
    }
  }

  .page-404 {
    .page-404__content-box {
      margin-left: 0;
      flex-wrap: wrap;
    }

    .page-404__title {
      font-size: 76px;
    }

    .page-404__link span {
      font-size: 24px;
    }

    .moving__text {
      font-size: 100px;
    }

    .page-404__link img {
      width: 60px;
      height: 60px;
    }
  }

  .collections {
    .collections__breadcrumbs {
      padding: 20px 0 60px;
    }

    .collections__title {
      font-size: 30px;
      text-align: center;
    }

    .collections__content {
      grid-template-areas: none;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }

    .collections__content-item {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:nth-child(1) {
        grid-area: auto;
        display: none;
      }

      &:nth-child(3) {
        grid-area: auto;
      }

      &:nth-child(3) {
        grid-area: auto;
      }

      &:nth-child(4) {
        grid-area: auto;
      }

      &:nth-child(5) {
        grid-area: auto;
      }

      &:nth-child(6) {
        grid-area: auto;
        margin-top: 0;
      }

      &:nth-child(7) {
        grid-area: auto;
        margin-top: 0;
      }

      &:nth-child(8) {
        grid-area: auto;
      }

      &:nth-child(9) {
        grid-area: auto;
      }

      &:nth-child(10) {
        grid-area: auto;
        display: none;
      }

      &:nth-child(11) {
        grid-area: auto;
      }

      &:nth-child(12) {
        grid-area: auto;
      }

      &:nth-child(13) {
        grid-area: auto;
      }

      &:nth-child(14) {
        grid-area: auto;
      }
    }
  }

  .catalog {
    .catalog__filter {
      position: relative;
    }

    .catalog__filter-del {
      display: block;
      position: absolute;
      right: 8px;
      top: 8px;
    }

    .popup {
      display: none;
      position: fixed;
      inset: 0;
      background-color: rgba(22, 21, 21, 0.2);

      &[aria-hidden="false"] {
        display: flex;
      }
    }

    .popup__overlay {
      position: fixed;
      inset: 0;
      z-index: 100;
    }

    .popup__content {
      background-color: #fff;
      position: relative;
      z-index: 101;
      width: 270px;
      left: 55px;
      top: 50px;
      height: 100vh;
      overflow: auto;
      scrollbar-width: none;
    }

    .catalog__content-box {
      width: 100%;
    }

    .catalog__item {
      img {
        width: 100%;
      }
    }

    .catalog__nav-buttons {
      display: none;
    }

    .catalog__popup {
      display: block;
      color: #4F4F4F;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        background-image: url(../images/catalog-select.svg);
        background-repeat: no-repeat;
        width: 18px;
        height: 12px;
        top: 7px;
        right: -25px;
      }
    }

    .catalog__nav-filter {
      display: block;
    }

    .catalog__nav-title {
      font-size: 30px;
    }
  }

  .product {
    .product__images {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 1fr;
      gap: 40px;
    }

    .product__images picture:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 2 / -1;
    }

    .product__images picture:nth-child(2) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }

    .product__images picture:nth-child(3) {
      grid-column: 2 / -1;
      grid-row: 2 / -1;
    }

    .product__images img {
      max-width: none;
      height: auto;
      width: 100%;
    }

    .product__content-title {
      font-size: 22px;
    }
  }

}

@media (max-width: 768px) {
  .container {
    max-width: 660px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .container-big {
    max-width: 788px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .main {
    .pagination {
      padding: 20px 0 70px;
    }

    .home-reviews {
      padding: 50px 0 65px;
    }

    .product {
      padding-bottom: 90px;
    }
  }

  .footer__menu {
    position: relative;
  }

  .footer__menu-logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer__elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 70px;
  }

  .footer__element--social {
    grid-column: span 2;
    margin-right: 20px;
  }

  .header {
    .header__logo {
      margin-bottom: 0;
      width: auto;
    }

    .header__btn {
      display: inline-block;
      position: relative;
      z-index: 10;
    }

    .menu {
      position: absolute;
      background-color: #CDCDCD;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 100px 0 100px;
      text-align: center;
      z-index: 5;
      transform: translateY(-200%);
      transition: transform .5s ease;
      overflow: auto;
      scrollbar-width: none;
    }

    .menu.menu--active {
      transform: translateY(0);
    }

    .header__btn.btn-close {
      span {
        display: none;
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 0;
      }

      &::before {
        transform: rotate(45deg);
        top: 0;
      }
    }

    .header__lang {
      margin: 0;
      margin-bottom: 100px;
    }

    .menu__list {
      flex-direction: column;
    }
  }

  .top {
    .top__content {
      max-width: 240px;
    }

    .top__title {
      font-size: 45px;
    }

    .top__link {
      white-space: nowrap;
    }
  }

  .join-us {
    .join-us__inner {
      gap: 25px;
    }

    .join-us__content {
      padding: 45px 0;
      max-width: 300px;
    }

    .join-us__title {
      font-size: 30px;
    }

    .join-us__text {
      font-size: 20px;
      text-align: left;
    }
  }

  .new-collection {
    .new-collection__content {
      padding: 50px 0 0;
      max-width: 338px;
    }

    .new-collection__title {
      font-size: 30px;
    }

    .new-collection__box {
      display: none;
    }

    .new-collection__img {
      img {
        min-width: auto;
      }
    }
  }

  .home-reviews {
    .home-reviews__inner {
      gap: 20px;
    }

    .home-reviews__title {
      font-size: 30px;
      white-space: nowrap;
    }

    .home-reviews__content-box {
      gap: 15px;
    }

    .home-reviews__text {
      font-size: 11px;
    }

    .home-reviews__text-border {
      font-size: 16px;
    }

    .home-reviews__box {
      max-width: 320px;
    }
  }

  .our-advantages {
    .our-advantages__list {
      column-count: 1;
    }

    .our-advantages__content {
      padding: 10px 0 0;
    }

    .our-advantages__title {
      margin-bottom: 15px;
      font-size: 20px;
    }

    .our-advantages__item {
      margin-bottom: 20px;
    }
  }

  .our-blog {
    .our-blog__inner {
      grid-template-columns: 1fr 1fr;
    }

    .our-blog__content {
      grid-column: span 1;
    }

    .our-blog__content-title {
      font-size: 30px;
    }

    .our-blog__content-text {
      margin-bottom: 30px;
    }

    .our-blog__box-link {
      display: flex;
      width: 100%;
      padding: 10px;
      justify-content: center;
    }

    .our-blog__box {
      max-width: 400px;
    }
  }

  .appointment {
    .appointment__content-box {
      max-width: 300px;
    }

    .appointment__content-img {
      min-height: 500px;
      object-fit: cover;
    }

    .appointment__title {
      font-size: 30px;
      margin-bottom: 50px;
    }

    .appointment__content-title {
      font-size: 20px;
      margin-bottom: 30px;
    }

    .appointment__content-text {
      font-size: 16px;
    }
  }

  .rewiews {
    .rewiews__top-title {
      font-size: 36px;
    }

    .rewiews__top-link {
      font-size: 16px;
    }

    .rewiews__box-link {
      display: flex;
      justify-content: center;
      padding: 24px;
    }
  }

  .blog-main {
    .blog-main__inner {
      gap: 20px;
    }

    .blog-main__inner img {
      height: 100%;
      object-fit: cover;
    }

    .blog-main__title-link {
      padding: 5px 18px;
    }

    .blog-main__title {
      font-size: 20px;
    }

    .blog-main__text {
      font-size: 14px;
    }

    .blog-main__link {
      font-size: 14px;
      padding: 15px;
    }

    .blog-main__breadcrumbs {
      margin: 10px 0 10px;
    }
  }

  .blog {
    .blog__list {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px 10px;
    }

    .blog__item-title {
      font-size: 16px;
    }

    .blog__item-content {
      min-height: 160px;
    }

    .blog__nav {
      flex-wrap: wrap;
    }

    .blog__nav-title {
      width: 100%;
      margin-bottom: 20px;
    }

    .blog__nav-btns {
      margin-left: auto;
    }
  }

  .blog-one {
    .blog-one__breadcrumbs {
      margin: 10px 0 10px;
    }

    .blog-one__content h1 {
      font-size: 45px;
    }

    .blog-one__content b:first-of-type {
      margin-bottom: 30px;
    }

    .blog-one__content b {
      font-size: 24px;
    }

    .blog-one__content>p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .blog-one__content>ul {
      font-size: 24px;
    }
  }

  .checkout {
    .checkout__details {
      min-width: auto;
    }
  }

  .page-404 {
    .page-404__inner {
      justify-content: space-around;
    }

    .page-404__content-img-left {
      display: none;
    }

    .page-404__content-box {
      margin-top: 0;
    }

    .page-404__content-img-right {
      max-width: 300px;
      width: 100%;
    }

    .page-404__title {
      font-size: 60px;
    }

    .page-404__link span {
      font-size: 16px;
    }

    .page-404__link img {
      width: 40px;
      height: 40px;
    }

    .moving__text {
      font-size: 80px;
    }

    .moving__img {
      width: 60px;
    }
  }

  .collections-main {
    .collections-top {
      height: 80vh;
    }
  }

  .collections {
    .collections__breadcrumbs {
      padding: 20px 0 40px;
    }

    .collections__title {
      font-size: 20px;
      margin-bottom: 30px;
    }

    .collections__content {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .catalog {
    .catalog__breadcrums {
      margin-bottom: 50px;
    }

    .catalog__nav {
      flex-wrap: wrap;
      text-align: center;
      margin-bottom: 50px;
      gap: 20px;
    }

    .catalog__nav-title {
      width: 100%;
      order: -1;
    }

    .catalog__items {
      grid-template-columns: repeat(2, 1fr);
    }

    .catalog__content {
      padding: 0;
    }
  }

  .product {
    .product__breadcrumbs {
      margin: 0 0 40px;
    }

    .product__images {
      gap: 10px;
    }

    .product__inner {
      gap: 20px;
      padding-right: 0;
    }

    .product__content-title {
      font-size: 20px;
    }

    .product__images img {
      height: 100%;
      object-fit: cover;
    }

    .product__buttons {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }

}

@media (max-width: 480px) {
  .container {
    max-width: 500px;
  }

  .container-big {
    max-width: 500px;
  }

  .header {
    .modal {
      .modal__item-title {
        font-size: 10px;
        font-weight: 700;
      }

      .modal__item-list {
        font-size: 10px;
      }

      .order__links {
        grid-template-columns: 1fr;
        gap: 10px;
      }
    }
  }

  .footer {
    .footer__menu-list {
      flex-wrap: wrap;
      gap: 11px 35px;
      padding-left: 67px;
      padding-right: 67px;
    }

    .footer__elements {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .footer__form--ipt {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer__element--social {
      display: flex;
      justify-content: center;
      margin-right: 0;
    }

    .footer__bottom-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer__copy {
      margin-bottom: 10px;
    }
  }

  .main {
    .top {
      height: 30vh;

      .top__content {
        max-width: 200px;
        height: 30vh;
      }

      .top__title {
        font-size: 30px;
      }

      .top__link {
        padding: 13px 5px;
      }
    }

    .pagination {
      padding: 20px 0 50px;
    }

    .pagination__list li:nth-child(n+5) {
      display: none;
    }

    .page-404 {
      padding: 0;
    }
  }

  .join-us {
    .join-us__inner {
      gap: 20px;
    }

    .join-us__content {
      padding: 25px 0;
      max-width: 219px;
    }

    .join-us__title {
      font-size: 20px;
    }

    .join-us__text {
      font-size: 16px;
    }

    .join-us__input {
      font-size: 16px;
    }
  }

  .new-collection {
    .new-collection__inner {
      padding: 50px 0 20px;
      gap: 20px;
    }

    .new-collection__content {
      max-width: 220px;
    }

    .new-collection__title {
      font-size: 20px;
    }

    .new-collection__text {
      font-size: 16px;
    }

    .new-collection__btn {
      display: none;
    }

    .new-collection__btn-mobail {
      display: flex;
      padding: 10px 66px;
      text-align: center;
      justify-content: center;
      margin-bottom: 50px;
    }
  }

  .home-reviews {
    .home-reviews__inner {
      gap: 20px;
      flex-direction: column;
    }

    .home-reviews__box {
      align-self: center;
    }
  }

  .our-advantages {
    .our-advantages__img {
      max-width: 180px;
      height: 110%;
    }

    .our-advantages__item {
      margin-bottom: 10px;
    }
  }

  .our-blog {
    .our-blog__inner {
      display: flex;
      flex-direction: column;
    }

    .our-blog__box {
      width: 100%;
    }

    .our-blog__box-img {
      display: none;
    }

    .our-blog__box-date {
      display: none;
    }

    .our-blog__box-caption {
      display: none;
    }
  }

  .appointment {
    .appointment__content {
      flex-direction: column;
      align-items: center;
    }

    .appointment__content-box {
      order: 1;
    }

    .appointment__content-img {
      order: 0;
      min-height: 250px;
    }

    .appointment__title {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  .rewiews {
    .rewiews__top-title {
      font-size: 20px;
    }

    .rewiews__top-link {
      font-size: 14px;
    }

    .rewiews__content-grade {
      flex-direction: column;
      align-items: flex-start;
    }

    .rewiews__content-link {
      align-self: flex-start;
    }
  }

  .blog-main {
    .blog-main__inner {
      padding: 20px 0 20px;
      flex-direction: column;
    }

    .blog-main__inner img {
      max-width: 100%;
    }

  }

  .blog {
    .blog__list {
      grid-template-columns: repeat(2, 1fr);
    }

    .blog__search-form {
      width: 300px;
    }

    .select {
      width: 300px;
    }
  }

  .blog-one {
    .blog-one__nav {
      gap: 10px;
      margin-bottom: 20px;
    }

    .blog-one__category {
      font-size: 10px;
      padding: 4px 17px;
      margin-right: 0;
    }

    .blog-one__date {
      font-size: 14px;
      margin-right: 0;
    }

    .blog-one__content h1 {
      font-size: 30px;
    }

    .blog-one__content b {
      font-size: 20px;
      padding-right: 0;
    }

    .blog-one__content h3 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .blog-one__content>ul {
      font-size: 20px;
    }
  }

  .checkout {
    .checkout__content {
      gap: 40px;
    }

    .checkout__title {
      font-size: 45px;
    }

    .checkout__item-title {
      font-size: 12px;
      white-space: normal;
    }

    .checkout__details-title {
      font-size: 24px;
    }

    .checkout__details-items {
      margin-bottom: 30px;
    }

    .checkout__item {
      padding: 10px 0;
    }

    .checkout__info-item+.checkout__info-item {
      margin-top: 40px;
    }

    .checkout__item-term {
      font-size: 10px;
    }

    .checkout__item-definition {
      font-size: 10px;
    }

    .order {
      padding: 5px 5px;
    }

    .order__title {
      font-size: 24px;
    }

    .order__list-box {
      font-size: 16px;
    }

    .order__list-box:last-child {
      font-size: 24px;
    }

    .order__list {
      margin-bottom: 40px;
    }

    .order__link {
      font-size: 16px;
      padding: 15px;
    }

    .checkout__info-title {
      font-size: 30px;
    }

    .checkout__infobox {
      grid-template-columns: 1fr;
    }

    .checkout__info-deltext {
      font-size: 12px;
    }

    .checkout__info-delbox {
      .radio-name {
        font-size: 16px;
      }

      .radio-text {
        font-size: 12px;
      }
    }

    .checkout__info-delprice {
      font-size: 20px;
    }

    .checkout__infobox-input {
      padding: 26px 35px 26px 32px;
    }

    .checkout__info-text {
      font-size: 12px;
    }

    .checkout__info-btn {
      padding: 22px;
    }
  }

  .page-404 {
    .page-404__inner {
      justify-content: center;
    }

    .page-404__content-img-right {
      display: none;
    }

    .page-404__title {
      font-size: 80px;
    }

    .moving__text {
      font-size: 60px;
    }

    .moving__img {
      width: 40px;
    }
  }

  .collections-main {
    .collections-top {
      height: 60vh;
    }
  }

  .collections {
    .collections__breadcrumbs {
      padding: 20px 0 20px;
    }

    .collections__title {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .collections__content {
      gap: 20px;
    }
  }

  .product {
    .product__inner {
      display: block;
    }

    .product__images {
      display: flex;
      margin-bottom: 30px;
    }

    .product__content {
      max-width: 320px;
      margin: 0 auto;
      text-align: center;
    }

    .product__content-radio,
    .product__content-checkbox {
      justify-content: center;
    }

    .product__slider-mobile {
      overflow: hidden;
      position: relative;
    }

    .product__images img {
      max-width: 300px;
      margin: 0 auto;
      height: 470px;
      object-fit: cover;
    }

    .product__slider-arrow {
      display: block;
      position: absolute;
      top: 50%;
      z-index: 10;
      color: #4F4F4F;
    }

    .product__slider-arrow_next {
      right: 0px;
    }

    .product__slider-arrow_prev {
      left: 0px;
    }
  }

  .lookperfect {
    .lookperfect__title {
      font-size: 24px;
    }

    .lookperfect__slider {
      max-width: 310px;
    }
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 360px;
  }

  .main {
    .home-reviews {
      padding: 50px 0 175px;
    }
  }

  .footer {
    .footer__menu-list {
      padding-left: 27px;
      padding-right: 27px;
    }
  }

  .new-collection {
    .new-collection__content {
      max-width: 160px;
    }

    .new-collection__title {
      white-space: wrap;
    }

    .new-collection__text {
      font-size: 11px;
    }
  }

  .join-us {
    .join-us__content {
      max-width: 160px;
    }

  }

  .our-advantages {
    .our-advantages__inner {
      flex-direction: column;
      gap: 150px;
    }

    .our-advantages__content {
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-left: 0;
    }

    .our-advantages__img {
      left: 50%;
      transform: translateX(-50%);
      top: -30%;
      height: 60%;
      max-width: 300px;
    }

    .our-advantages__item {
      margin-bottom: 10px;
      font-size: 16px;
    }

    .our-advantages__list {
      margin-bottom: 30px;
    }

    .our-advantages__title {
      margin-bottom: 30px;
    }
  }

  .blog {
    .blog__list {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    .blog__item-date {
      margin-top: 20px;
    }

    .blog__nav-btns {
      display: none;
    }
  }

  .collections-main {
    .collections-top {
      height: 40vh;
    }
  }

  .collections {
    .collections-top {
      height: 40vh;
    }

    .collections__title {
      font-size: 14px;
    }

    .collections__content {
      grid-template-columns: 1fr;
    }
  }

  .catalog {
    .catalog__nav-title {
      font-size: 20px;
    }

    .catalog__items {
      grid-template-columns: 1fr;
    }

    .catalog__breadcrums {
      margin-bottom: 20px;
    }
  }

  .product {
    .product__images img {
      max-width: 270px;
      height: 400px;
    }
  }
}