@use 'reset';
@use 'vars';
@use 'fonts';
@use 'global';

body {
  @extend %opensans-400;
  font-size: 16px;
  line-height: 1.3;
  color: vars.$color-primary;
  background-color: vars.$accent-text;
}

.link__more {
  display: inline-block;
  border: 1px solid vars.$color-primary;
  margin-top: auto;
}

.btn_sumbit {
  background-color: vars.$color-primary;
  color: vars.$accent-text;
  font-size: 20px;
  border-radius: 3px;
}

.header {
  padding: 20px 0 40px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }

  &__lang {
    display: flex;

    &-link--active {
      @extend %opensans-700;
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 30px;
  }
}

.logo {
  display: inline-block;
}

.promo {
  background-color: vars.$bg-promo;

  &__text {
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 0 9px;
  }
}

.top {
  height: calc(100vh - 180px);
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    max-width: 519px;
    height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &__title {
    @extend %lora-400;
    font-size: 75px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  &__link {
    display: inline-block;
    background-color: vars.$color-primary;
    font-size: 20px;
    color: vars.$accent-text;
    align-self: flex-start;
    text-transform: uppercase;
    padding: 13px 39px;
    border-radius: 3px;
  }
}

.new-collection {
  &__inner {
    padding: 150px 40px 90px;
    display: flex;
  }

  &__content {
    padding: 75px 0 0;
    max-width: 417px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    @extend %lora-400;
    font-size: 45px;
    white-space: nowrap;
    margin-bottom: 23px;
  }

  &__text {
    font-size: 20px;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }


  &__btn {
    padding: 10px 66px;
    align-self: flex-start;
  }

  &__img {
    margin-top: 75px;
    margin-left: 40px;
  }

  &__box {
    position: relative;
    display: flex;
  }

  &__box-img img {
    min-width: 404px;
    height: 450px;
  }

  &__box-img {
    position: absolute;
    right: -25px;
    top: 0;
  }

  &__box-text {
    max-width: 300px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: 70px;
    padding-left: 40px;
  }
}

.footer {
  background-color: vars.$color-accent;

  &__menu-list {
    padding: 55px 135px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid vars.$accent-text;
  }

  &__menu-item {
    color: vars.$accent-text;
  }

  &__menu-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  }

  &__elements {
    padding: 50px 0 80px;
    display: flex;
    justify-content: space-between;
    color: vars.$accent-text;
  }

  &__element-title {
    opacity: 0.5;
    margin-bottom: 20px;
  }

  &__adress {
    line-height: 1.8;
    display: flex;
    flex-direction: column;
  }

  &__element-item {
    line-height: 1.8;
  }

  &__form {
    width: 250px;
    position: relative;
  }

  &__form-input {
    background-color: vars.$color-accent;
    width: 100%;
    border-bottom: 1px solid vars.$accent-text;
    color: vars.$accent-text;
    padding: 1px 30px 5px 0;

    &::placeholder {
      color: vars.$accent-text;
    }
  }

  &__form-btn {
    position: absolute;
    top: 5px;
    right: 0;
  }

  &__element-social {
    margin-right: 124px;
  }

  &__social-list {
    display: flex;
    gap: 10px;
  }

  &__botoom {
    padding: 7px 0 9px;
    background-color: vars.$color-primary;
    font-size: 11px;
    color: vars.$accent-text;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
  }

  &__bottom-list {
    display: flex;
    align-items: center;
    gap: 0 37px;
  }

  &__bottom-item+.footer__bottom-item {
    position: relative;

    &::before {
      content: '|';
      position: absolute;
      left: -21px;
    }
  }
}

.join-us {
  background-color: vars.$color-accent;

  &__inner {
    display: flex;
    gap: 40px;
    color: vars.$accent-text;
  }

  &__img {
    object-fit: cover;
    height: 100%;
  }

  &__content {
    padding: 94px 0;
    max-width: 578px;
    width: 100%;
  }

  &__title {
    @extend %lora-400;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    @extend %lora-400;
    font-size: 30px;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__input {
    padding: 20px 0 10px 0;
    background-color: vars.$color-accent;
    font-size: 20px;
    border-bottom: 1.2px solid vars.$color-text;

    &::placeholder {
      color: vars.$accent-text;
    }
  }

  &__btn {
    padding: 12px 248px;
    white-space: nowrap;
    margin-bottom: 20px;
  }

  &__caption {
    font-size: 11px;
    text-align: center;
  }
}

.home-reviews {
  padding: 90px 40px 233px;

  &__inner {
    display: flex;
    gap: 40px;
  }

  &__title {
    @extend %lora-400;
    font-size: 45px;
    color: vars.$color-primary;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  &__content-box {
    display: flex;
    flex-direction: column;
    gap: 70px;
    max-width: 541px;
    width: 100%;

  }

  &__text {
    color: vars.$color-text;
  }

  &__text-border {
    @extend %lora-400;
    font-size: 20px;
    max-width: 417px;
    width: 100%;
    background-color: vars.$color-accent;
    color: vars.$accent-text;
    padding: 20px 27px;
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__box-link {
    padding: 10px 246px;
    white-space: nowrap;
  }
}

.our-advantages {
  color: vars.$accent-text;
  background-color: vars.$color-accent;

  &__inner {
    display: flex;
    gap: 200px;
    position: relative;
  }

  &__img {
    position: absolute;
    bottom: 0;
    margin-left: auto;
  }

  &__content {
    margin-left: auto;
    padding: 60px 0 68px;
  }

  &__title {
    @extend %lora-400;
    font-size: 45px;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  &__list {
    column-count: 2;
    gap: 80px;
  }

  &__item {
    font-size: 20px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;

    &::before {
      content: '·';
      position: absolute;
      left: 10px;
      font-weight: 700;
    }
  }
}

.our-blog {
  padding: 150px 40px 90px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__content {
    grid-column: span 2;
  }

  &__content-title {
    @extend %lora-400;
    font-size: 45px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &__content-text {
    max-width: 542px;
    width: 100%;
    margin-bottom: 70px;
    color: vars.$color-text;
    width: 100%;
  }

  &__content-img {
    margin-bottom: 20px;
  }

  &__content-caption {
    @extend %lora-400;
    font-size: 20px;
    margin-bottom: 5px;
    color: vars.$color-text;
  }

  &__content-date {
    @extend %opensans-300;
    color: vars.$color-text;
    font-size: 16px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    max-height: 585px;
  }

  &__box-img {
    margin-bottom: 10px;
  }

  &__box-date {
    @extend %opensans-300;
    color: vars.$color-text;
    font-size: 16px;
    margin-bottom: 5px;
  }

  &__box-caption {
    @extend %lora-400;
    font-size: 20px;
    color: vars.$color-text;
    margin-bottom: 20px;
  }

  &__box-link {
    padding: 10px 107px;
    transform: translateY(-5%);
    align-self: flex-start;
  }
}

.collections-top {
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 180px);
}

.breadcrumbs {
  padding: 50px 0 90px;

  &__list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__item {
    color: vars.$color-text;
    position: relative;
  }

  &__item+.breadcrumbs__item::before {
    content: '/';
    position: absolute;
    left: -10px;
  }
}

.collections {
  &__title {
    @extend %lora-400;
    color: vars.$color-primary;
    font-size: 54px;
    margin-bottom: 60px;
  }

  &__content {
    display: grid;
    grid-template-areas:
      "aa aa ab ac"
      "aa aa ba bb"
      "ca cb cc cc"
      "da db cc cc"
      "fa fb fc fd";
    gap: 40px;
  }

  &__content-item {
    position: relative;

    &:nth-child(1) {
      grid-area: aa;
      height: fit-content;
    }

    &:nth-child(3) {
      grid-area: ac;
    }

    &:nth-child(3) {
      grid-area: ab;
    }

    &:nth-child(4) {
      grid-area: ba;
    }

    &:nth-child(5) {
      grid-area: bb;
    }

    &:nth-child(6) {
      grid-area: ca;
      margin-top: -130px;
    }

    &:nth-child(7) {
      grid-area: cb;
      margin-top: -130px;
    }

    &:nth-child(8) {
      grid-area: da;
    }

    &:nth-child(9) {
      grid-area: db;
    }

    &:nth-child(10) {
      grid-area: cc;
      height: fit-content;
    }

    &:nth-child(11) {
      grid-area: fa;
    }

    &:nth-child(12) {
      grid-area: fb;
    }

    &:nth-child(13) {
      grid-area: fc;
    }

    &:nth-child(14) {
      grid-area: fd;
    }
  }

  &__content-btn {
    position: absolute;
    top: 10px;
    right: 5px;
  }
}

.pagination {
  padding: 20px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  &__list {
    display: flex;
    gap: 2px;
  }

  &__link {
    display: inline-block;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link--active {
    background-color: vars.$color-text;
    border-radius: 8px;
    color: vars.$accent-text;
  }

  &__arrow {
    display: inline-block;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow-disable{
    display: none;
  }
}