<footer class="footer">
  <div class="container">
    <nav class="footer__menu">
      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Catalog</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#" >Collections</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#" >About</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#" >
            <img class="footer__logo" src="images/footer-logo.svg" alt="footer logo">
          </a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#" >Book your appointment</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="footer__elements">
      <div class="footer__element">
        <p class="footer__element-title">Location</p>
        <div class="footer__element-list">
          <address class="footer__adress">
            <span>Ukraine, Kyiv,</span>
            <span>st. Voitenko, 67</span>
          </address>
        </div>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Phones</p>
        <ul class="footer__element-list">
          <li class="footer__element-item">
            <a class="footer__element-link" href="tel:+380676765324" >
              +380 (67) 676 53 24
            </a>
          </li>
          <li class="footer__element-item">
            <a class="footer__element-link" href="tel:+380678846542">
              +380 (67) 884 65 42
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Emails</p>
        <ul class="footer__element-list">
          <li class="footer__element-item">
            <a href="mailto:office@boss.com" class="footer__element-link">
              office@boss.com
            </a>
          </li>
          <li class="footer__element-item">
            <a href="mailto:sales@boss.com" class="footer__element-link">
              sales@boss.com
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Sign-up for our newsletter</p>
          <form class="footer__form" action="">
            <input class="footer__form-input" name="email" type="email" placeholder="Enter your email" required>
            <button class="footer__form-btn" type="submit" aria-label="submit email">
              <svg width="15" height="11">
                <use xlink:href="images/sprite.svg#envelop"></use>
              </svg>
            </button>
          </form>
      </div>
      <div class="footer__element">
        <div class="footer__element-social">
          <p class="footer__element-title">Social</p>
          <ul class="footer__social-list d-flex">
            <li class="footer__social-item">
              <a class="footer__social-link" href="#" rel="noopener noreferrer" target="_blank" aria-label="our facebook">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link" href="#" rel="noopener noreferrer" target="_blank" aria-label="our instagram">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#instagram" aria-label="our instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__botoom">
    <div class="container">
      <div class="footer__bottom-inner">
        <p class="footer__copy">©Boss. All rights reserved.</p>
        <ul class="footer__bottom-list">
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#" >Privacy Policy</a>
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Refund policy</a>
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
