<header class="header">
  <div class="container">
    <div class="header__inner ai-center">
      <button class="header__btn" type="button" aria-label="Menu">
        <span> </span>
      </button>
      <div class="header__logo ta-center">
        <a class="logo" href="index.html">
          <img class="logo__img" src="images/logo.svg" alt="Logo" width="80" height="22">
        </a>
      </div>
      <nav class="menu">
        <ul class="header__lang d-flex">
          <li class="header__lang-item">
            <a class="header__lang-link header__lang-link--active" href="#">EN</a>/
          </li>
          <li class="header__lang-item">
            <a class="header__lang-link" href="#">UA</a>
          </li>
        </ul>
        <ul class="menu__list d-flex">
          <li class="menu__item">
            <a class="menu__item-link" href="catalog.html">CATALOG</a>
          </li>
          <li class="menu__item">
            <a class="menu__item-link" href="collections.html">COLLECTIONS</a>
          </li>
          <li class="menu__item">
            <a class="menu__item-link" href="#">ABOUT</a>
          </li>
          <li class="menu__item">
            <a class="menu__item-link" href="appointment.html">BOOK AN APPOINTMENT</a>
          </li>
          <li class="menu__item">
            <a class="menu__item-link" href="page-404.html">CONTACT</a>
          </li>
        </ul>
      </nav>
      <ul class="header__actions d-flex ai-center">
        <li class="header__actions-item">
          <a class="header__actions-link" href="#" aria-label="user account">
            <svg width="24" height="24">
              <use xlink:href="images/sprite.svg#user"></use>
            </svg>
          </a>
        </li>
        <li class="header__actions-item">
          <a class="header__actions-link" href="#" aria-label="wishlist">
            <svg width="24" height="22">
              <use xlink:href="images/sprite.svg#wishlist"></use>
            </svg>
          </a>
        </li>
        <li class="header__actions-item">
          <a class="header__actions-link open-modal" href="#" aria-label="cart">
            <svg width="24" height="24">
              <use xlink:href="images/sprite.svg#shopping-bag"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="modal" aria-hidden="true">
      <div class="modal__overlay"></div>
      <div class="modal__content" role="dialog" aria-modal="false">
        <div class="modal__details">
          <div class="modal__details-items">
            <div class="modal__details-itemsline">
              <p class="modal__details-quantity">
                2 items in bag
              </p>
              <button class="modal__details-del close-modal" type="button" aria-label="close modal">
                <svg width="18" height="18">
                  <use xlink:href="images/sprite.svg#checkout-del"></use>
                </svg>
              </button>
            </div>
            <div class="modal__item">
              <picture>
                <source srcset="images/order-1.avif" type="image/avif">
                <source srcset="images/order-1.webp" type="image/webp">
                <img class="modal__item-img" src="images/order-1.jpg"
                  alt="David Beckham in stylish clothes Boss clothes Boss sits by the pool" width="132" height="182">
              </picture>
              <div class="modal__item-box">
                <p class="modal__item-title">TROUSERS IN COTTON</p>
                <dl class="modal__item-list">
                  <div class="modal__item-listbox">
                    <dt class="modal__item-term">SIZE:</dt>
                    <dd class="modal__item-definition">M</dd>
                  </div>
                  <div class="modal__item-listbox">
                    <dt class="modal__item-term">COLOR:</dt>
                    <dd class="modal__item-definition">WHITE</dd>
                  </div>
                  <div class="modal__item-listbox">
                    <dt class="modal__item-term">Item subtotal:</dt>
                    <dd class="modal__item-definition">€ 249,00</dd>
                  </div>
                </dl>
                <button class="modal__item-del" type="button" aria-label="delete product">
                  <svg width="20" height="20">
                    <use xlink:href="images/sprite.svg#basket"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="modal__item">
              <picture>
                <source srcset="images/order-2.avif" type="image/avif">
                <source srcset="images/order-2.webp" type="image/webp">
                <img class="modal__item-img" src="images/order-2.jpg" alt="David Beckham in stylish clothes Boss" width="132" height="182">
              </picture>
              <div class="modal__item-box">
                <p class="modal__item-title">LEATHER TRAINERS </p>
                <dl class="modal__item-list">
                  <div class="modal__item-listbox">
                    <dt class="modal__item-term">SIZE:</dt>
                    <dd class="modal__item-definition">43</dd>
                  </div>
                  <div class="modal__item-listbox">
                    <dt class="modal__item-term">COLOR:</dt>
                    <dd class="modal__item-definition">WHITE</dd>
                  </div>
                  <div class="modal__item-listbox">
                    <dt class="modal__item-term">Item subtotal:</dt>
                    <dd class="modal__item-definition">€ 299,00</dd>
                  </div>
                </dl>
                <button class="modal__item-del" type="button" aria-label="delete product">
                  <svg width="20" height="20">
                    <use xlink:href="images/sprite.svg#basket"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="order">
            <dl class="order__list">
              <div class="order__list-box">
                <dt class="order__list-tern">Subtotal:</dt>
                <dd class="order__list-definition">€ 548,00</dd>
              </div>
              <div class="order__list-box">
                <dt class="order__list-tern">Shipping:</dt>
                <dd class="order__list-definition">FREE</dd>
              </div>
              <div class="order__list-box">
                <dt class="order__list-tern">Total:</dt>
                <dd class="order__list-definition">€ 548,00</dd>
              </div>
            </dl>
            <div class="order__links">
              <a class="order__link" href="catalog.html">KEEP SHOPPING</a>
              <a class="order__link-buy" href="#">Buy it now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>