<div class="pagination">
  <a class="pagination__arrow pagination__arrow-disable" href="#">
    <svg width="24" height="21">
      <use xlink:href="images/sprite.svg#pagination-prev"></use>
    </svg>
  </a>
  <ul class="pagination__list">
    <li class="pagination__item">
      <span class="pagination__link pagination__link--active">1</span>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">3</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">4</a>
    </li>
      <li class="pagination__item">
      <span class="pagination__link">...</span>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">19</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">20</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">21</a>
    </li>
  </ul>
  <a class="pagination__arrow" href="#">
    <svg width="24" height="21">
      <use xlink:href="images/sprite.svg#pagination-next"></use>
    </svg>
  </a>
</div>